.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: var(--menu-height-total);
  
  border-bottom: 1px solid var(--black);
  background-color: var(--black-transparent);
  color: var(--white-300);
  
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  -moz-backdrop-filter: var(--blur);
  
  
  transition: var(--transition-1);

  z-index: var(--zindex-5);
}

.short {
  transition: var(--transition-1);
}

@media (max-width: 1480px) {
  .short {
    justify-content: flex-end;
    transition: var(--transition-1);
  }
}

@media (min-width: 720px) {
  .short {
    height: var(--menu-height-short);
  }
}

@media (max-width: 720px) {
  .container {
    height: var(--menu-height-mobile);
  }
}
