@keyframes arrowDownMoving {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes ArrowRightMoving {
  0% {
    right: 1rem;
  }

  5% {
    right: .8rem;
  }

  10% {
    right: 1rem;
  }

  15% {
    right: .5rem;
  }

  20% {
    right: 1rem;
  }
}

@keyframes ArrowLeftMoving {
  80% {
    left: 1rem;
  }

  85% {
    left: .8rem;
  }

  90% {
    left: 1rem;
  }

  95% {
    left: .5rem;
  }

  100% {
    left: 1rem;
  }
}

.titleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);
  padding: var(--padding-3);
}

.title {
  font-size: var(--font-size-7);
  color: var(--white);
  font-family: var(--font-roboto);
  text-align: center;
}

.arrowDown {
  display: flex;
  width: var(--icon-size-bigger);
  height: var(--icon-size-bigger);
  color: var(--white);
  animation: arrowDownMoving infinite 1s;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-left: 4rem;
  width: calc(100vw - 8rem);
  height: 35rem;

  padding: var(--padding-2) 0;

  border-radius: var(--border-radius-1);

  box-shadow: var(--box-shadow-0);

  background-color: var(--white-100);

  overflow: hidden;
}

.cardArea {
  display: flex;
  gap: 2rem;

  overflow: none;
  transition: all 1s;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  height: 31rem;
  width: 25rem;
  box-shadow: var(--box-shadow-0);

  transition: var(--transition-2);

  z-index: var(--zindex-4);

  background-color: var(--black-300);
  border-radius: var(--border-radius-1);
}

.aside h1 {
  opacity: 0;

  display: flex;

  padding-top: var(--padding-1);

  color: var(--white);
  font-size: var(--font-size-4);
  text-shadow: var(--text-shadow);
  font-family: var(--font-roboto);
  text-align: center;

  z-index: var(--zindex-5);

  transition: var(--transition-1);
}

.aside:hover h1 {
  opacity: 1;
}

.aside .image {
  display: flex;

  position: absolute;

  height: 31rem;
  width: 25rem;

  object-fit: cover;

  pointer-events: none;
  filter: var(--brightness-0);
  border-radius: var(--border-radius-1);

  z-index: var(--zindex-4);
}

.aside .comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);

  width: 25rem;

  padding: var(--padding-1);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);

  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
  border-top: var(--black-800);
  background-color: var(--black-transparent);

  transition: var(--transition-1);

  z-index: var(--zindex-5);

  opacity: 0;
}

.aside:hover .comments {
  opacity: 1;
}

.aside .comments p {
  display: flex;
  color: var(--white-100);
  font-size: var(--font-size-1);
  text-align: center;
  font-family: var(--font-roboto);
  text-shadow: var(--text-shadow);
}

.aside .comments button {
  display: flex;
  border: none;
  background: transparent;
}

.aside .comments button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);

  padding: var(--padding-button-0);
  border-radius: var(--border-radius-0);

  color: var(--white-100);
  box-shadow: var(--box-shadow-0);
  transition: var(--transition-0);
}

.aside .comments button a:hover {
  box-shadow: var(--box-shadow-hover-0);
  padding: var(--padding-button-hover-0);
  cursor: pointer;
  filter: var(--brightness-1);
}

.fromLeftArea,
.fromRightArea {
  transition: var(--transition-0);
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  
  z-index: var(--zindex-5);
}

.fromLeftArea {
  left: calc(4rem + var(--padding-1));
}

.fromLeftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-box-size-small);
  height: var(--icon-box-size-small);

  border: none;
  border-radius: var(--border-radius-1);
  background-color: var(--black-transparent);
  box-shadow: var(--box-shadow-1);

  transition: var(--transition-0);
}

.fromLeftButton:hover {
  display: flex;
  filter: var(--brightness-1);
  box-shadow: var(--box-shadow-hover-1);
}

.fromLeftImage {
  display: flex;
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  object-fit: cover;
  color: var(--white);
}

.fromRightArea {
  right: calc(4rem);
}

.fromRightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-box-size-small);
  height: var(--icon-box-size-small);

  border: none;
  border-radius: var(--border-radius-1);
  background-color: var(--black-transparent);
  box-shadow: var(--box-shadow-1);

  transition: var(--transition-0);
}

.fromRightButton:hover {
  display: flex;
  filter: var(--brightness-1);
  box-shadow: var(--box-shadow-hover-1);
}

.fromRightImage {
  display: flex;
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  object-fit: cover;
  color: var(--white);
}

@media (min-width: 720px) {
  .firstCard {
    margin-left: calc(-25rem / 2 + ((100vw - 8rem) / 2));
  }

  .firstCard .aside:nth-child(2),
  .firstCard .aside:nth-child(3),
  .firstCard .aside:nth-child(4),
  .firstCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .secondCard {
    margin-left: calc(-25rem / 2 - 25rem - 2rem + ((100vw - 8rem) / 2));
  }

  .secondCard .aside:nth-child(1),
  .secondCard .aside:nth-child(3),
  .secondCard .aside:nth-child(4),
  .secondCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .thirdCard {
    margin-left: calc(-25rem / 2 - 50vw - 4rem + ((100vw - 8rem) / 2));
  }

  .thirdCard .aside:nth-child(1),
  .thirdCard .aside:nth-child(2),
  .thirdCard .aside:nth-child(4),
  .thirdCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .fourthCard {
    margin-left: calc(-25rem / 2 - 75vw - 6rem + ((100vw - 8rem) / 2));
  }

  .fourthCard .aside:nth-child(1),
  .fourthCard .aside:nth-child(2),
  .fourthCard .aside:nth-child(3),
  .fourthCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .fifthCard {
    margin-left: calc(-25rem / 2 - 100vw - 8rem + ((100vw - 8rem) / 2));
  }

  .fifthCard .aside:nth-child(1),
  .fifthCard .aside:nth-child(2),
  .fifthCard .aside:nth-child(3),
  .fifthCard .aside:nth-child(4) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: var(--font-size-6);
  }

  .section {
    width: calc(100vw - 4rem);
    margin-left: 2rem;
  }

  .aside {
    width: calc(100vw - 8rem);
    padding: 0;
  }

  .aside h1 {
    opacity: 1;
  }

  .aside .image,
  .aside .comments {
    width: calc(100vw - 8rem);
  }

  .fromLeftArea {
    left: var(--padding-1);

    animation: ArrowLeftMoving infinite 5s;
  }

  .fromRightArea {
    right: var(--padding-1);

    animation: ArrowRightMoving infinite 5s;
  }

  .firstCard {
    margin-left: calc(2rem - (0 * (100vw - 8rem)));
  }

  .firstCard .aside:nth-child(2),
  .firstCard .aside:nth-child(3),
  .firstCard .aside:nth-child(4),
  .firstCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .secondCard {
    margin-left: calc(1rem - (1 * (100vw - 8rem)));
  }

  .secondCard .aside:nth-child(1),
  .secondCard .aside:nth-child(3),
  .secondCard .aside:nth-child(4),
  .secondCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .thirdCard {
    margin-left: calc(0rem - (2 * (100vw - 8rem)));
  }

  .thirdCard .aside:nth-child(1),
  .thirdCard .aside:nth-child(2),
  .thirdCard .aside:nth-child(4),
  .thirdCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .fourthCard {
    margin-left: calc(-1rem - (3 * (100vw - 8rem)));
  }

  .fourthCard .aside:nth-child(1),
  .fourthCard .aside:nth-child(2),
  .fourthCard .aside:nth-child(3),
  .fourthCard .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }

  .fifthCard {
    margin-left: calc(-2rem - (4 * (100vw - 8rem)));
  }

  .fifthCard .aside:nth-child(1),
  .fifthCard .aside:nth-child(2),
  .fifthCard .aside:nth-child(3),
  .fifthCard .aside:nth-child(4) {
    filter: brightness(.3);
    transform: scale(.90);
    pointer-events: none;
  }
}
