.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(100% + 4rem);
  margin-left: -2rem;

  background-color: var(--black-800);
}

.title {
  font-size: 3rem;
  padding: 2rem;
  font-family: var(--font-playfair-display);
  color: var(--white);
  font-weight: 700;
}

.categoriesArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}