.button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: var(--icon-size-medium);
  height: var(--icon-size-medium);

  border: 1px solid var(--black-300);
  box-shadow: var(--box-shadow-1);
  background-color: var(--white-100);
  border-radius: var(--border-radius-1);

  z-index: var(--zindex-5);

  transition: var(--transition-0);
}

.button:hover {
  filter: var(--brightness-1);
  box-shadow: var(--box-shadow-hover-1);
}
