.exitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: none;
  border-radius: .5rem;
  transition: all .2s;
  width: 3rem;
  height: 3rem;
}

.exitButton:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.exitIcon {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--red-france);
}

.confirmExitModalContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
}

.confirmExitModalContent {
  background-color: var(--white-300);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.confirmExitModalTitle {
  color: var(--red-france);
  font-size: 1.5rem;
  text-align: center;
}

.buttonsArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  background-color: var(--black-300);
  color: var(--white-100);
  border-radius: .5rem;
  border: none;
  font-size: 1.2rem;
  transition: all .2s;
}

.confirmButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  background-color: var(--red-france);
  color: var(--white-100);
  border-radius: .5rem;
  border: none;
  font-size: 1.2rem;
  transition: all .2s;
}

.cancelButton:hover,
.confirmButton:hover {
  filter: brightness(1.2);
}
