.container {
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white-100);
  color: var(--black-800);
  border-radius: .5rem;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input {
  border: 1px solid var(--black-800);
  padding: .1rem 1rem;

  width: 100%;
}

.optionsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  gap: 3rem;
}

.optionsButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.optionsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .5rem;
  border: 1px solid var(--text-dark);
  background-color: var(--white);
  transition: all .2s;
}

.optionsButton:hover {
  filter: brightness(1.1);
}

.table {
  margin: 1rem 0;
}

.table tr {
  background-color: var(--gray-300);
  padding: .5rem;
  border-radius: .8rem;
}

.table tr:hover {
  filter: brightness(1.05);
}

.table th {
  padding: 1rem;
  background-color: var(--blue-france);
  color: var(--white-100);
  border-radius: .3rem;
}

.table td {
  padding: .5rem;
  text-align: center;
}

.table .image {
  object-fit: cover;
  border-radius: .3rem;
}

.table th:last-child {
  background-color: var(--red-france);
}

.confirmCancelModalContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
}

.confirmCancelModalContent {
  background-color: var(--white-300);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.confirmCancelModalTitle {
  color: var(--red-france);
  font-size: 1.5rem;
  text-align: center;
}

.buttonsArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cancelButtonModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  background-color: var(--black-300);
  color: var(--white-100);
  border-radius: .5rem;
  border: none;
  font-size: 1.2rem;
  transition: all .2s;
}

.confirmButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  background-color: var(--red-france);
  color: var(--white-100);
  border-radius: .5rem;
  border: none;
  font-size: 1.2rem;
  transition: all .2s;
}

.cancelButton:hover,
.confirmButton:hover {
  filter: brightness(1.2);
}

.loadingContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);

  cursor: wait;
}

.loadingContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-france);
  gap: 2rem;
}

.loading {
  animation: rotation 1s linear infinite;
  color: var(--red-france);
  width: 2rem;
  height: 2rem;
}
