.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(15vh + 1rem);
  right: calc(15vw + 4rem);

  transition: all .2s;
}

.container svg {
  width: 2rem;
  height: 2rem;
}

.container:hover {
  cursor: pointer;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 720px) {
  .container {
    display: none;
  }
}
