.container {
  border: none;
  display: flex;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  padding: var(--padding-2);
  width: 100%;
}

.container a {
  display: flex;
  padding: var(--padding-button-1);
  background-color: var(--black-800);
  color: var(--white-100);
  border: none;
  border-radius: var(--border-radius-0);
  transition: var(--transition-0);
  text-transform: uppercase;
}

.container a:hover {
  filter: var(--brightness-1);
  padding: var(--padding-button-hover-1);
}

.dark {
  background-color: var(--black-800);
}

.dark a {
  background-color: var(--white-100);
  color: var(--black-800);
}

.noBack {
  background-color: var(--background-black);
}
