@keyframes animationRed {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animationWhite {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 1rem;

  width: 100vw;
  height: 100vh;

  background-color: var(--background-black);
}

.loading {
  font-size: 2rem;
  color: var(--white-100);
}

.flagArea {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  width: 15rem;
}

.blueArea {
  display: flex;
  height: 2.5rem;
  width: 5rem;
  background-color: var(--blue-france);
}

.whiteArea {
  display: flex;
  height: 2.5rem;
  width: 5rem;
  background-color: white;
  animation: animationWhite 1s infinite;
}

.redArea {
  display: flex;
  height: 2.5rem;
  width: 5rem;
  background-color: var(--red-france);
  animation: animationRed .5s infinite;
}
