.content {
  list-style: none;
}

.content + .content {
  margin-top: .8rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  width: 10rem;
  background-color: var(--white);
  font-size: .8rem;
  border-radius: 0 .5rem .5rem 0;
  /* transform: translateX(-.5rem); */
  transition: all .2s;
}

.button svg {
  display: flex;
  width: 1.7rem;
  height: 1.7rem;
}

.button:hover {
  transform: translateX(.1rem);
  box-shadow: 0rem 0rem 1rem var(--black-800);
}

.button:hover svg {
  color: var(--blue-france);
}

.selected {
  color: var(--blue-france);
}
