.container {
  position: relative;
  display: flex;
  gap: 1rem;
  width: calc(100% + 4rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -2rem;

  overflow: hidden;
}

.mainTitleArea {
  display: flex;
  flex: 1;
  padding: 3rem;
}

.mainTitle {
  font-size: 2rem;
  text-shadow: .1rem .1rem .1rem var(--background-blur-dark);
  letter-spacing: .15rem;
  font-family: var(--font-playfair-display);
  color: var(--white);
}

.titleArea,
.descriptionArea,
.fromLeftArea,
.fromRightArea {
  transition: all .2s;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  width: 100%;
  height: 80vh;
}

.bannerArea {
  position: absolute;
  width: 400%;
  height: 80vh;

  margin-left: -4rem;

  display: flex;

  overflow: none;

  transition: all .5s;
}

.firstBanner {
  margin-left: -4rem;
}

.secondBanner {
  margin-left: calc(-4rem - 100%);
}

.thirdBanner {
  margin-left: calc(-4rem - 200%);
}

.fourthBanner {
  margin-left: calc(-4rem - 300%);
}

.postArea {
  display: flex;
  width: 100%;
  height: 80vh;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content:hover .titleArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  background: linear-gradient(rgba(0, 0, 0, .8), transparent);
  width: 100%;

  z-index: 2;
}

.title {
  color: var(--white);
  max-width: 30rem;
  font-size: 2rem;
  font-family: var(--font-playfair-display);
  text-align: center;
}

.content:hover .descriptionArea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  background: linear-gradient(transparent, rgba(0, 0, 0, .8));
  width: 100%;

  z-index: 2;
}

.description {
  color: var(--white);
  max-width: 50rem;
  font-size: 1rem;
  font-family: var(--font-playfair-display);
}

.button {
  display: flex;
  padding: .5rem 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  font-family: var(--font-merriweather);
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: .1rem;
  transition: all .2s;
  z-index: 3;
}

.button:hover {
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .3);
  cursor: pointer;
}

.imageArea {
  position: absolute;
  display: flex;
  width: 25%;
}

.image {
  display: flex;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.slideNumberButtonsArea {
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  margin-bottom: -4rem;
  width: 100%;
  padding: 1rem;
  z-index: 400;
}

.slideNumberButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slideButton {
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);
}

.slideButton:hover {
  filter: brightness(.8);
  cursor: pointer;
}

.slideButtonSelected {
  background-color: var(--white);
}

.content:hover .fromLeftArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

  z-index: 2;
}

.fromLeftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromLeftButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromLeftImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

.content:hover .fromRightArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  z-index: 2;
}

.fromRightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromRightButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromRightImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

@media (max-width: 720px) {

  .content,
  .bannerArea,
  .postArea,
  .image {
    height: calc(100vh - (30px + 2rem + .2rem));
  }

  .content {
    padding: .5rem;
  }

  .bannerArea {
    margin-left: -.5rem;
  }

  .firstBanner {
    margin-left: -.5rem;
  }

  .secondBanner {
    margin-left: calc(-.5rem - 100%);
  }

  .thirdBanner {
    margin-left: calc(-.5rem - 200%);
  }

  .fourthBanner {
    margin-left: calc(-.5rem - 300%);
  }

  .titleArea,
  .content:hover .titleArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    background: linear-gradient(rgba(0, 0, 0, .8), transparent);
    width: 100%;

    z-index: 2;
  }

  .descriptionArea,
  .content:hover .descriptionArea {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 3.2rem;

    background: linear-gradient(transparent, rgba(0, 0, 0, .8));
    width: 100%;

    z-index: 2;
  }

  .button {
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
  }

  .fromLeftArea,
  .content:hover .fromLeftArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    z-index: 2;
  }

  .slideNumberButtonsArea {
    margin-bottom: 0;
  }

  .fromRightArea,
  .content:hover .fromRightArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    z-index: 2;
  }
}