.section {
  margin-top: 5rem;
  width: 100%;
  height: 720px;

  overflow: hidden;
}

.article {
  width: 100%;
  height: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  width: 100%;
  object-fit: cover;
  height: 720px;
  pointer-events: none;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: .1rem;

  width: 21rem;

  padding: 2rem;
  background-color: var(--white-100);
  color: var(--black-800);

  position: relative;
  bottom: 35rem;
  left: 4rem;

  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.5);

  z-index: 1000;
}

.description .h1 {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.description .p {
  font-size: .9rem;
}

@media (max-width: 720px) {
  .section {
    margin-top: 5rem;
    width: 100%;
    height: calc(720px + 300px);

    border: 1px solid var(--black-800);
    border-radius: .5rem;
  }

  .article {
    flex-direction: column;
  }

  .description {
    position: inherit;
    width: 100%;
    height: 300px;
  }
}