@keyframes arrowDownMoving {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes ArrowRightMoving {
  0% {
    right: 1rem;
  }

  5% {
    right: .8rem;
  }

  10% {
    right: 1rem;
  }

  15% {
    right: .5rem;
  }

  20% {
    right: 1rem;
  }
}

@keyframes ArrowLeftMoving {
  80% {
    left: 1rem;
  }

  85% {
    left: .8rem;
  }

  90% {
    left: 1rem;
  }

  95% {
    left: .5rem;
  }

  100% {
    left: 1rem;
  }
}

@media (min-width: 720px) {
  .firstSlide {
    margin-left: calc(-25vw / 2 + ((100vw - 8rem) / 2));
  }

  .firstSlide .aside:nth-child(2),
  .firstSlide .aside:nth-child(3),
  .firstSlide .aside:nth-child(4),
  .firstSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .secondSlide {
    margin-left: calc(-25vw / 2 - 25vw - 2rem + ((100vw - 8rem) / 2));
  }

  .secondSlide .aside:nth-child(1),
  .secondSlide .aside:nth-child(3),
  .secondSlide .aside:nth-child(4),
  .secondSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .thirdSlide {
    margin-left: calc(-25vw / 2 - 50vw - 4rem + ((100vw - 8rem) / 2));
  }

  .thirdSlide .aside:nth-child(1),
  .thirdSlide .aside:nth-child(2),
  .thirdSlide .aside:nth-child(4),
  .thirdSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .fourthSlide {
    margin-left: calc(-25vw / 2 - 75vw - 6rem + ((100vw - 8rem) / 2));
  }

  .fourthSlide .aside:nth-child(1),
  .fourthSlide .aside:nth-child(2),
  .fourthSlide .aside:nth-child(3),
  .fourthSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .fifthSlide {
    margin-left: calc(-25vw / 2 - 100vw - 8rem + ((100vw - 8rem) / 2));
  }

  .fifthSlide .aside:nth-child(1),
  .fifthSlide .aside:nth-child(2),
  .fifthSlide .aside:nth-child(3),
  .fifthSlide .aside:nth-child(4) {
    filter: brightness(.3);
    transform: scale(.90);
  }
}

.titleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
  margin-bottom: 0;
  padding: 2rem;
  gap: 4rem;
}

.title {
  font-size: 4rem;
  color: var(--white);
  font-family: var(--font-oh-baby);
  text-align: center;
}

.arrowDown {
  display: flex;
  width: 5rem;
  height: 5rem;
  color: var(--white);
  animation: arrowDownMoving infinite 1s;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: calc(100vw - 8rem);
  height: 70vh;

  margin: 4rem 2rem;
  padding: 3rem 0;

  border-radius: .2rem;

  background-color: var(--white-100);

  overflow: hidden;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  width: 25vw;

  transition: all 1s;
}

.aside:hover h3 {
  opacity: 1;
}

.aside:hover .comments {
  opacity: 1;
}

.aside h3 {
  opacity: 0;

  display: flex;

  margin-top: 1rem;

  color: var(--white-100);
  font-size: 2rem;
  text-shadow: 0rem 0rem .3rem var(--background-blur-dark);
  font-family: var(--font-oh-baby);

  z-index: 2;

  transition: all .5s;
}

.aside .image {
  display: flex;

  position: absolute;

  height: 60vh;
  width: 25vw;

  object-fit: cover;

  pointer-events: none;
  filter: brightness(.8);
  border-radius: .2rem;
}

.aside .comments {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);

  border-radius: 0 0 .2rem .2rem;
  border-top: rgba(0, 0, 0, .9);
  background-color: rgba(0, 0, 0, .5);

  transition: all .5s;
}

.aside .comments p {
  display: flex;
  color: var(--white-100);
  font-size: 1rem;
  text-align: center;
  font-family: var(--font-roboto);
  text-shadow: 0rem 0rem .2rem var(--background-blur-dark);
}

.aside .comments button {
  display: flex;
  border: none;
  background: transparent;
}

.aside .comments button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem 1rem;
  border-radius: .1rem;

  color: var(--white-100);
  box-shadow: 0 0 .2rem rgba(255, 255, 255, .3);
  transition: all .2s;
}

.aside .comments button a:hover {
  box-shadow: 0 0 .6rem var(--background-blur-dark);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.fromLeftArea,
.fromRightArea,
.slideNumberButtonsArea {
  transition: all .2s;
  position: absolute;
}

.slides {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.SlideArea {
  display: flex;
  gap: 2rem;

  overflow: none;
  transition: all 1s;
}

.fromLeftArea {
  left: calc(4rem + 1rem);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.fromLeftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromLeftButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromLeftImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

.fromRightArea {
  right: calc(4rem);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.fromRightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromRightButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromRightImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

@media (max-width: 720px) {
  .titleArea {
    margin: 4rem 1rem;
    margin-bottom: 0;
    padding: 1rem;
    gap: 4rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .section {
    padding: 0;
    width: calc(100vw - 6rem);
    margin-left: 1rem;
  }

  .aside {
    width: calc(100vw - 8rem - 2rem);
  }

  .aside h3 {
    opacity: 1;
  }

  .aside .image {
    width: calc(100vw - 8rem - 2rem);
  }

  .fromLeftArea,
  .fromRightArea,
  .slideNumberButtonsArea {
    transition: all .2s;
    position: absolute;
  }

  .SlideArea {
    gap: 1rem;
  }

  .firstSlide {
    margin-left: calc(2rem - (0 * (100vw - 8rem)));
  }

  .firstSlide .aside:nth-child(2),
  .firstSlide .aside:nth-child(3),
  .firstSlide .aside:nth-child(4),
  .firstSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .secondSlide {
    margin-left: calc(3rem - (1 * (100vw - 8rem)));
  }

  .secondSlide .aside:nth-child(1),
  .secondSlide .aside:nth-child(3),
  .secondSlide .aside:nth-child(4),
  .secondSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .thirdSlide {
    margin-left: calc(4rem - (2 * (100vw - 8rem)));
  }

  .thirdSlide .aside:nth-child(1),
  .thirdSlide .aside:nth-child(2),
  .thirdSlide .aside:nth-child(4),
  .thirdSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .fourthSlide {
    margin-left: calc(5rem - (3 * (100vw - 8rem)));
  }

  .fourthSlide .aside:nth-child(1),
  .fourthSlide .aside:nth-child(2),
  .fourthSlide .aside:nth-child(3),
  .fourthSlide .aside:nth-child(5) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .fifthSlide {
    margin-left: calc(6rem - (4 * (100vw - 8rem)));
  }

  .fifthSlide .aside:nth-child(1),
  .fifthSlide .aside:nth-child(2),
  .fifthSlide .aside:nth-child(3),
  .fifthSlide .aside:nth-child(4) {
    filter: brightness(.3);
    transform: scale(.90);
  }

  .fromLeftArea {
    left: 1rem;

    animation: ArrowLeftMoving infinite 5s;
  }

  .fromRightArea {
    right: 1rem;

    animation: ArrowRightMoving infinite 5s;
  }

  .fromLeftButton,
  .fromRightButton {
    background-color: var(--black-800);
  }
}