.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: calc(100vh - var(--menu-height-total));

  overflow: hidden;

  z-index: var(--zindex-0);
}

.container img {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--menu-height-total));
  
  object-fit: cover;
  filter: brightness(.8);

  position: absolute;

  pointer-events: none;

  z-index: var(--zindex-0);
}

.container h1 {
  font-family: var(--font-poppins);
  font-size: var(--font-size-6);
  font-weight: 300;
  text-shadow: var(--text-shadow);
  letter-spacing: var(--letter-spacing-0);
  text-align: center;
  color: var(--white);

  margin: var(--margin-1);
  
  z-index: var(--zindex-1);
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
  
  font-size: var(--font-size-3);
  font-weight: 600;
  color: var(--black);

  margin: var(--margin-1);
  
  backdrop-filter: var(--blur);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius);
  padding: var(--padding-button-0);

  transition: var(--transition-0);

  z-index: var(--zindex-1);
}

.container a:hover {
  box-shadow: var(--box-shadow-hover-1);
  cursor: pointer;
  background-color: var(--hover-background-light-0);
  padding: var(--padding-button-hover-0);
}

@media (max-width: 720px) {
  .container {
    height: calc(100vh - var(--menu-height-mobile));
  }

  .container img {
    height: calc(100vh - var(--menu-height-mobile));
  }

  .container h1 {
    font-size: var(--font-size-5);
  }

  .container a {
    font-size: var(--font-size-2);
  }
}
