.container {
  display: flex;
  height: var(--menu-height-total);

  background-color: var(--background-black);
}

@media (max-width: 720px) {
  .container {
    height: var(--menu-height-mobile);
  }
}
