.container {
  display: flex;
  height: calc(50px + 45px + 2rem + .5rem);

  background-color: var(--background-dark);
}

@media (max-width: 720px) {
  .container {
    height: calc((50px + 45px + 2rem + .5rem) - (50px + 2rem + .2rem));
  }
}
