.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.avaliationArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
}

.inputExpanded {
  height: calc(20rem);
  resize: none;
}
