.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-1);
}

.avaliationArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size-small);
  height: var(--icon-size-small);
}

.inputExpanded {
  height: calc(20rem);
  resize: none;
}

.dark {
  color: var(--black-800);
}

@media (max-width: 720px) {
  .dark {
    color: var(--white-100);
  }
}
