.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.fromLeftArea,
.fromRightArea,
.slideNumberButtonsArea {
  transition: all .2s;
  position: absolute;
}

.slideArea {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  width: 400vw;
  transition: all .5s;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.imageBanner {
  display: flex;
  height: 85vh;
  width: 100%;
  object-fit: cover;
  transform: translateY(1rem);
}

.titleArea {
  color: var(--white-100);
  text-shadow: .1rem .1rem 1rem var(--black-800);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  
  font-size: 2rem;
  padding: 2rem 0;

  z-index: 1000;
  transform: translateY(7.9rem);

  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

  opacity: 0;
  transition: all .2s;
}

.content:hover .titleArea {
  opacity: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
}

.descriptionArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 6rem;
  transform: translateY(-11rem);

  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

  opacity: 0;
  transition: all .2s;
}

.content:hover .descriptionArea {
  opacity: 1;
}

.description {
  text-indent: 2rem;
  color: var(--white-100);
}

.button {
  padding: .5rem 2rem;
  color: var(--white-100);
  border: 1px solid var(--black-300);
  border-radius: .2rem;
  box-shadow: .1rem .1rem 1rem var(--black-800);
  transition: all .2s;
}

.button:hover {
  backdrop-filter: blur(20px);
  box-shadow: .1rem .1rem 5rem var(--black-800);
  padding: .5rem 3rem;
}

.firstSlide {
  margin-left: 0vw;
}

.secondSlide {
  margin-left: calc(-100vw);
}

.thirdSlide {
  margin-left: calc(-200vw);
}

.fourthSlide {
  margin-left: calc(-300vw);
}


.fromLeftArea {
  position: absolute;
  left: 20vw;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.fromLeftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromLeftButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromLeftImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

.fromRightArea {
  right: 20vw;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.fromRightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromRightButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromRightImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

@media (max-width: 720px) {
  .content {
    height: 39rem;
  }

  .post {
    height: 100vh;
  }

  .imageBanner {
    display: flex;
    height: 39rem;
    width: 100vw;
    object-fit: cover;
    transform: translateY(-5rem);
    filter: brightness(.8);
  }
  
  .titleArea {
    height: 0;
    font-size: 1.2rem;
    padding: 2rem 1rem;
  
    transform: translateY(-1rem);
    opacity: 1;
  }
  
  .descriptionArea {
    height: 0;
    padding: 2rem;
    font-size: .8rem;
    transform: translateY(-16rem);
    background: none;
  
    opacity: 1;
    transition: all .2s;
  }

  .description {
    text-shadow: .1rem .1rem 1rem var(--black-800);
  }
  
  .button {
    color: var(--black);
    backdrop-filter: blur(20px);
    border: 1px solid var(--black);
    font-size: 1rem;
  }

  .fromLeftArea {
    width: 3rem;
    left: .5rem;
  }

  .fromLeftButton,
  .fromLeftButton:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .fromLeftImage {
    color: var(--black);
  }

  .fromRightArea {
    width: 3rem;
    right: .5rem;
  }

  .fromRightButton,
  .fromRightButton:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .fromRightImage {
    color: var(--black);
  }
}
