.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem .5rem;

  width: 50vw;

  background-color: var(--white-300);
}

.title {
  font-size: 2rem;
  letter-spacing: .1rem;
  font-family: var(--font-bebas-neue);
  color: var(--black-800);
}

.contentArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.postsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-radius: .1rem;

  padding: 2rem 1rem;

  gap: .5rem;

  width: calc(250px + 2rem);

  transition: all .2s;
}

.post:hover {
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);
}

.imageArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: .2rem;
}

.image {
  object-fit: cover;
  border-radius: .1rem;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.imageDescription {
  font-size: .8rem;
  color: var(--black-300);
  font-family: var(--font-roboto);
}

.postTitle {
  max-width: 250px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: .1rem;

  font-family: var(--font-merriweather);
  color: var(--black-800);
}

.subTitle {
  font-size: .95rem;
  line-height: 1.1rem;
  letter-spacing: .02rem;
  color: var(--black-800);
  font-family: var(--font-poppins);
}

.seeMoreArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding-top: 1rem;
}

.seeMoreButton {
  border: none;
  background-color: var(--black-800);
  padding: .5rem 3rem;

  font-size: .8rem;
  letter-spacing: .05rem;
  color: var(--white);
  font-family: var(--font-inter);

  border-radius: .1rem;

  transition: all .2s;
}

.seeMoreButton:hover {
  text-decoration: underline;
  padding: .5rem 4rem;
  filter: brightness(1.2);
}

.date {
  font-size: .8rem;
  font-family: var(--font-cinzel);
  color: var(--black-300);
}

.fromLeftArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -.5rem;

  z-index: 2;
}

.fromLeftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromLeftButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromLeftImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

.fromRightArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -.5rem;
  z-index: 2;
}

.fromRightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromRightButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromRightImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

@media (max-width: 720px) {
  .section {
    width: calc(100% + 1rem);
    overflow: hidden;
    background-color: var(--white);
  }
}