.label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

.label input {
  visibility: hidden;
  transition: all .2s;
}

.label:hover input ~ .newCheckbox {
  background-color: var(--black-300);
}

.label input:active ~ .newCheckbox {
  background-color: var(--black);
}

.label input:checked ~ .newCheckbox {
  background-color: var(--black-800);
}

.newCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked ~ .newCheckbox:after {
  display: block;
}

.label .newCheckbox:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid greenyellow;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.newCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid var(--black-800);
}
