.container {
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white-100);
  color: var(--black-800);
  border-radius: .5rem;
  margin-top: 2rem;
  box-shadow: 0rem 0rem .2rem var(--black-800);
}

.withTab {
  margin-top: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
