.section {
  margin: 0 8rem;

  border-radius: .1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  background-color: var(--white-100);
}

.section .aside .h3 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: var(--black-800);

  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black-800);
}

.section .aside .form {
  margin-top: .5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
}

.section .aside .form .input {
  border: 1px solid var(--black-800);
  padding: .1rem 1rem;

  width: 100%;
}

.section .aside .form .button {
  border: 1px solid var(--black-800);
  border-radius: none;
  padding: .1rem 1rem;

  color: var(--white-100);
  background-color: var(--black-800);

  transition: all .2s;
}

.section .aside .form .button:hover {
  filter: brightness(1.2);
}