.titleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  line-height: 2.5rem;
  font-family: var(--font-oh-baby);
}

.titleTypeOne {
  font-size: 1rem;
  line-height: 1rem;
  font-family: var(--font-orbitron);
}