.section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% + 2rem);
  margin-left: -1rem;

  background-color: var(--white);
}

.aside {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-bottom: 4rem;
}
