.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}

.filter {
  border: 1px solid red;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.filter label {
  display: flex;
  flex-direction: column;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  
}

.comments section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
