.container {
  border: 1px solid var(--background-blur-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 320px;
  max-height: 500px;
  border-radius: .3rem;
}

.image {
  display: flex;
  object-fit: cover;

  border: 1px solid var(--background-blur-dark);

  min-width: 320px;
  min-height: 500px;
  border-radius: .3rem;
}

.starArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  display: flex;
  min-width: 320px;
  padding: 1rem;

  position: relative;
  bottom: 6rem;

  border-radius: 0 0 .3rem .3rem;
  background-color: var(--background-blur-dark);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  -moz-backdrop-filter: var(--blur);
}

.title {
  font-size: 1rem;
  color: var(--white-100);
  font-family: var(--font-roboto);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.starSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.starSpan:hover {
  cursor: pointer;
}

.star {
  width: 30px;
  height: 30px;
  color: var(--white-100);
}