.icon {
  display: none;
}

@media (max-width: 720px) {
  .outOpen {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 18rem);
    height: 100vh;
  }

  .open,
  .close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    width: calc(30px + 2rem + .5rem);
    height: calc(30px + 2rem + .5rem);

    padding: var(--padding-0);

    z-index: var(--zindex-5);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    width: var(--icon-box-size-medium);
    height: var(--icon-box-size-medium);
    
    padding: var(--padding-0);

    z-index: var(--zindex-5);
  }

  .open:hover,
  .close:hover {
    cursor: pointer;

  }

  /*

    Content

  */

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-1);

    position: fixed;
    top: 0;
    width: 18rem;
    height: 100vh;

    background-color: var(--black-transparent);

    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    -moz-backdrop-filter: var(--blur);

    border-right: 1px solid var(--black);

    padding:
      var(--menu-height-mobile)
      var(--padding-1)
      var(--padding-1)
      var(--padding-1);

    transition: var(--transition-0);
  }

  .open .content {
    left: 0;
  }

  .close .content {
    left: -18rem;
  }
}
