.container {
  display: flex;
  margin-top: calc(50px + 45px + 2rem + .5rem);
  width: calc(100% + 4rem);
  margin-left: -2rem;
  padding: 4rem;

  background-color: var(--white-100);

  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.dateArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5rem;
  padding-left: .5rem;
  border-left: 1px solid var(--black-800);

  position: absolute;
  left: 4rem;
}

.day {
  font-size: 3rem;
  font-family: var(--font-tilt-prism);
  color: darkred;
}

.month {
  font-size: 1.2rem;
}

.year {
  font-size: 1.2rem;
}

.title {
  font-size: 2rem;
  font-family: var(--font-bebas-neue);
  text-align: center;
}

.titleTwo {
  font-size: 2.2rem;
  font-family: var(--font-oh-baby);
}