.button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: 3.5rem;
  height: 3.5rem;

  border: none;
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.5);
  background-color: var(--white-100);
  border-radius: .5rem;

  z-index: 1000;

  transition: all .2s;
}

.button:hover {
  filter: brightness(.8);
}
