.section {
  margin-left: -1rem;
  margin-top: 5rem;
  width: 100vw;
  height: 720px;

  overflow: hidden;
}

.article {
  width: 100%;
  height: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  width: 100vw;
  object-fit: cover;
  height: 720px;
  pointer-events: none;
}