.container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-decoration: none;
  list-style: none;

  gap: .2rem;
}

.container ul li a {
  font-size: 1rem;
  font-weight: thin;
  padding: .5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2rem;
}

.container ul li a svg {
  width: 1.3rem;
  height: 1.3rem;
}

.container ul li a:hover,
.contactNav ul li a:hover {
  filter: brightness(1.2);
  background-color: var(--background-blur-dark);
  border-radius: .5rem;
  cursor: pointer;
}

@media (min-width: 720px) {
  .container {
    position: absolute;
    top: .5rem;
    right: 1rem;

    transition: all .5s;
  }

  .short {
    pointer-events: none;
    top: -7rem;
  }
}


@media (max-width: 720px) {
  .container {
    width: 100%;
  }

  .container ul {
    position: inherit;
    align-items: flex-end;
    gap: .2rem;
  }

  .container ul li a {
    font-size: 1rem;
  }
}
