.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
  height: calc(80vh - 11rem);
  overflow: hidden;
}

.fromLeftArea,
.fromRightArea,
.slideNumberButtonsArea {
  transition: all .2s;
  position: absolute;
}

.SlideArea {
  display: flex;
  gap: 5rem;

  overflow: none;
  transition: all .5s;
}

.firstSlide {
  margin-left: calc(5rem + 2.5rem);
}

.firstSlide .image:nth-child(2),
.firstSlide .image:nth-child(3),
.firstSlide .image:nth-child(4) {
  filter: brightness(.5);
  transform: scale(.95);
}

.secondSlide {
  margin-left: calc(-50vw + 15rem + 2.5rem);
}

.secondSlide .image:nth-child(1),
.secondSlide .image:nth-child(3),
.secondSlide .image:nth-child(4) {
  filter: brightness(.5);
  transform: scale(.95);
}

.thirdSlide {
  margin-left: calc(-100vw + 30rem - 5rem + 2.5rem);
}

.thirdSlide .image:nth-child(1),
.thirdSlide .image:nth-child(2),
.thirdSlide .image:nth-child(4) {
  filter: brightness(.5);
  transform: scale(.95);
}

.fourthSlide {
  margin-left: calc(-150vw + 45rem - 10rem + 2.5rem);
}

.fourthSlide .image:nth-child(1),
.fourthSlide .image:nth-child(2),
.fourthSlide .image:nth-child(3) {
  filter: brightness(.5);
  transform: scale(.95);
}

.image {
  display: flex;
  width: calc(50vw - 15rem);
  height: calc(80vh - 16rem);
  object-fit: cover;
  border-radius: .1rem;
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .8);
  transition: all 1s;
}


.fromLeftArea {
  left: 20vw;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.fromLeftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromLeftButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromLeftImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

.fromRightArea {
  right: 20vw;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.fromRightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

  transition: all .2s;
}

.fromRightButton:hover {
  display: flex;
  background-color: var(--black-800);
  box-shadow: .1rem .1rem 1rem var(--black-800);
}

.fromRightImage {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  color: var(--white);
}

@media (max-width: 720px) {
  .container {
    width: 100%;
  }

  .SlideArea {
    gap: 20vw;
    padding-left: calc(10vw - 1rem);
  }

  .image {
    width: 80vw;
  }

  .slideButton,
  .slideButton:hover {
    background-color: var(--black-300);
  }

  .slideButtonSelected {
    background-color: var(--black);
  }

  .firstSlide {
    margin-left: 0;
  }

  .secondSlide {
    margin-left: -100vw;
  }

  .thirdSlide {
    margin-left: -200vw;
  }

  .fourthSlide {
    margin-left: -300vw;
  }

  .fromLeftArea {
    width: 3rem;
    left: .5rem;
  }

  .fromLeftButton,
  .fromLeftButton:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .fromLeftImage {
    color: var(--black);
  }

  .fromRightArea {
    width: 3rem;
    right: .5rem;
  }

  .fromRightButton,
  .fromRightButton:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .fromRightImage {
    color: var(--black);
  }
}
