.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2);
  background-color: var(--white-300);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-1);
  gap: var(--gap-1);
  
  border-radius: var(--border-radius-1);
  background-color: var(--white-100);
}

.content button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-button-0);
  border: 1px solid var(--black);
  background-color: var(--black-800);
  box-shadow: var(--box-shadow-0);
  color: var(--white-300);
  transition: var(--transition-0);
}

.content button:hover {
  box-shadow: var(--box-shadow-hover-0);
  padding: var(--padding-button-hover-0);
}

.dark {
  color: var(--black-800);
  background-color: var(--background-black);
}

@media (max-width: 720px) {
  .container {
    padding: 0;
  }

  .content {
    margin: var(--margin-1);
  }
}
