.container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(15vh + 1rem);
  right: calc(15vw + 4rem);

  width: var(--icon-box-size-small);
  height: var(--icon-box-size-small);

  position: absolute;

  transition: var(--transition-0);
}

.container svg {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
}

.container:hover {
  cursor: pointer;
  border-radius: var(--border-radius-1);
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 720px) {
  .container {
    width: var(--icon-box-size-small);
    height: var(--icon-box-size-small);

    top: 2rem;
    right: calc(2rem + var(--icon-box-size-small));

    color: var(--white);
  }

  .container svg {
    width: var(--icon-box-size-small);
    height: var(--icon-box-size-small);
  }
}
