.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: calc(50px + 45px + 2rem + .5rem);

  width: calc(100% + 4rem);
  margin-left: -2rem;

  overflow: hidden;
}

@media (max-width: 720px) {
  .content {
    margin-top: calc(30px + 2rem + .2rem);
  }
}