.container {
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  -moz-backdrop-filter: var(--blur);

  background-color: var(--black-transparent);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: var(--zindex-5);
}

.content {
  display: flex;
  flex-direction: row;

  width: 80vw;
  height: 80vh;
  background-color: var(--white-300);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.image {
  width: 60vw;
  height: 100%;
  object-fit: cover;

  filter: var(--brightness-0);

  border-radius: 0rem var(--border-radius-1) var(--border-radius-1) 0rem;
  z-index: var(--zindex-5);
}

.closeButton {
  position: fixed;
  top: calc(10vh + 1rem);
  right: calc(10vw - 2rem);

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: var(--icon-box-size-small);
  height: var(--icon-box-size-small);

  background: none;
  border: none;

  z-index: var(--zindex-6);
}

.closeButton:hover {
  cursor: pointer;
  border-radius: var(--border-radius-1);
  background-color: rgba(255, 255, 255, 0.2);
}

.closeButton svg {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  color: var(--black);
}

.closeButton:hover {
  filter: brightness(1.2);
}

@media (max-width: 720px) {
  .container {
    backdrop-filter: blur(100px) grayscale(1);
  }

  .content {
    width: 100%;
    background: none;
    color: var(--white-100);
    box-shadow: none;
  }

  .image {
    display: none;
  }

  .closeButton {
    padding: 0rem;
    top: var(--padding-2);
    right: var(--padding-2);
  }

  .closeButton svg {
    color: var(--white-100);
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
  }
}
