.container {
  display: flex;

  width: 100%;

  align-items: center;
  justify-content: center;
  transition: all .5s;
}

.container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: calc((50px + 45px + 2rem + .5rem) - (50px + 2rem + .2rem));
}

.container ul li,
.container ul li a {
  height: calc((50px + 45px + 2rem + .5rem) - (50px + 2rem + .2rem));
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  font-size: .9rem;

  text-transform: uppercase;

  padding: .8rem;

  transition: all .2s;
}

.container ul li:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    margin-left: 0;
  }

  .container ul {
    position: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
  }

  .container ul li {
    border-radius: .1rem;
    background-color: rgba(255, 255, 255, .1);
    filter: brightness(1.1);
  }
}
