@keyframes showSubMenu {
  0% {
    top: calc(-3 * var(--menu-height-total));
    opacity: 0;
  }
  50% {
    top: 0rem;
    opacity: 0;
  }
  100% {
    top: 0rem;
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  transition: var(--transition-1);
}

.container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: var(--menu-height-short);

  transition: var(--transition-1);
}

.container ul li {
  display: flex;
  flex-direction: column;

  transition: var(--transition-1);
  
  z-index: var(--zindex-5);
}


.container ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: var(--padding-1);

  height: var(--menu-height-short);
  
  color: var(--white);
  font-size: var(--font-size-0);
  letter-spacing: var(--letter-spacing-0);
  text-transform: uppercase;

  transition: var(--transition-1);
}

.container ul li:hover {
  filter: var(--brightness-1);
  background-color: var(--black-transparent);
  cursor: pointer;
}

.container ul li div {
  display: flex;

  width: 0;

  position: relative;
  top: calc(-3 * var(--menu-height-total));

  background-color: var(--black-transparent);
  color: var(--text-dark);

  opacity: 0;

  border-bottom: 1px solid var(--black);
}

.container ul li div ul {
  display: flex;
  flex-direction: column;

  height: 100%;

  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  -moz-backdrop-filter: var(--blur);
}

.container ul li:hover div {
  top: 0rem;
  width: 100%;

  opacity: 1;
  
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  -moz-backdrop-filter: var(--blur);
  
  animation: .5s linear showSubMenu;
}

.container ul li:hover div li a:hover {
  filter: var(--brightness-1);
  background-color: var(--black-transparent);
  cursor: pointer;
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    margin-left: 0;
    flex: 1;
  }

  .container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: inherit;

    gap: var(--gap-0);
  }

  .container ul li {
    border-radius: var(--border-radius-0);
    height: 3rem;
    background-color: var(--hover-background-light-0);
    filter: var(--brightness-1);
  }

  .container ul li:hover div,
  .container ul li:hover div ul,
  .container ul li:hover div ul li {
    display: none;
  }
}
