.container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--padding-3);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--padding-1);

  width: calc(100%);

  box-shadow: var(--box-shadow-0);
  border-radius: var(--border-radius-1);

  background-color: var(--white);
}

.content ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;

  width: 100%;
}

.content ul li a {
  display: flex;
  gap: var(--gap-1);
  align-items: center;
  font-size: var(--font-size-2);
  text-transform: uppercase;
  border-left: 1px solid var(--black-800);
  padding-left: var(--padding-1);
}

.content ul li a:hover {
  text-decoration: underline;
}

.content ul div ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  margin-top: var(--margin-1);
  border-left: 1px solid var(--black-800);
}

.content ul div ul li a {
  font-size: var(--font-size-0);
  border: none;
}

@media (max-width: 720px) {
  .container {
    padding: var(--padding-2);
  }

  .content {
    width: 100%;
    background-color: var(--white-50);
  }

  .content ul {
    flex-direction: column;
    gap: var(--gap-1);
  }

  .content ul li a {
    font-size: var(--font-size-2);
    letter-spacing: var(--letter-spacing-0);
  }

  .content ul div ul {
    border: none;
  }
}
