.searchIconArea {
  position: absolute;
  right: calc(50% - 18rem);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  height: 40px;
  width: 40px;
  transition: all .2s;
}

.searchIconArea:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.searchIcon {
  display: flex;
  width: 35px;
  height: 35px;
}

.searchOpen {
  display: flex;
  position: absolute;
  right: calc(50% - 18rem);

  width: calc(48vw - 40px);
  max-width: 500px;
  height: 40px;
  padding: 0 0 .5rem 0;
  margin-right: 40px;
  border-radius: .5rem;
  transition: all 1s;
  z-index: 1000;
}

.searchOpen input[type="text"] {
  display: flex;
  border-radius: .3rem 0 0 .3rem;
  padding: 0 1rem;
  flex: 1;
  transition: all 1s;
  border: none;
}

.searchOpen input[type="button"] {
  display: flex;
  border-radius: 0 .3rem .3rem 0;
  padding: 0 1rem;
  border: none;
  background-color: var(--blue-france);
  color: var(--white);
  border-right: none;
  transition: all 1s;
}

.searchOpen input[type="button"]:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.searchClose {
  display: flex;
  position: absolute;
  width: calc(30vw - 40px);
  height: 0px;
  padding: 0 0 .5rem 0;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: .5rem;
  transition: all 1s;
}

.searchClose input[type="text"] {
  display: flex;
  border-radius: .3rem 0 0 .3rem;
  padding: 0 1rem;
  flex: 1;
  border: none;
  height: 0px;
}

.searchClose input[type="button"] {
  display: flex;
  border-radius: 0 .3rem .3rem 0;
  padding: 0 1rem;
  border: none;
  background-color: var(--blue-france);
  color: var(--white);
  border-right: none;
  height: 0px;
}

@media (max-width: 720px) {
  .searchIconArea {
    position: fixed;
    top: .7rem;
    right: calc(50% - 7rem);
  }

  .searchOpen,
  .searchClose {
    top: calc(30px + 2rem + .2rem - 1px);
    left: 0;

    padding: 1rem 1rem;

    width: 100%;
    height: calc(30px + 2rem + .2rem);

    align-items: center;
    justify-content: center;

    border-radius: 0;

    backdrop-filter: var(--blur);
    background-color: var(--background-blur-dark);

    border-bottom: 1px solid var(--black);

    z-index: -1;
  }

  .searchClose {
    top: calc(30px);
    height: 0;
    opacity: 0;
  }

  .searchOpen input[type="text"],
  .searchOpen input[type="button"] {
    height: 100%;
  }
}